.logo {
  margin-top: 0;
  margin-bottom: 0;
}

.front, .rear {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.content {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;  
}

.rear {
  width: 40%;
}

.front {
  width: 100%;
  margin-left: 20px !important;
  margin-right: 20px !important ;  
}

.event-item {
  margin-top: 5px !important;
}

.event-item:hover {
  background-color: #EEE !important;
}

.active {
  background-color: #EEE !important;  
}

.bet-item:hover {
  background-color: #EEE !important;
}

.admin-page {
  margin: auto;
  margin-top: 20%;
  margin-left: 40%;  
}

.xml {
  text-align: center;
  margin-top: 40% !important;
}

.no-bet {
  margin: auto !important;
  margin-top: 20% !important;
  text-align: center !important;
  width: 100% !important;
}

.titles {
  border: 0 !important;
  border-bottom: 2px solid rgb(88, 204, 88) !important;
  width: 100% !important;
}